# todo
.todo

# IDE stuff
*.iml
*.ipr
*.iws
.idea
out
bin

.settings
.metadata
.classpath
.project

.vscode

# Python Cache
*.jython_cache
__pycache__

# Gens
*.pdf

# sphinx
build
_build
_static
_templates
make.bat
Makefile

# bytecode
*.class
*$py.class